%h1 Create a new Game!
=form_for(@game) do |f|
	.field
		= f.label "Winning Score: "
		= f.number_field :winning_score
		%br/
		= f.label "Losing Score: "
		= f.number_field :losing_score
		%br/
		= f.label "Blue Offensive Player: "
		= f.select(:blue_offense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
		%br/
		= f.label "Blue Defensive Player: "
		= f.select(:blue_defense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
		%br/
		= f.label "Red Offensive Player: "
		= f.select(:red_offense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
		%br/
		= f.label "Red Defensive Player: "
		= f.select(:red_defense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
		%br/
		=f.label "Winner? "
		= f.select :winner, ["Blue Team", "Red Team"]
		%br/
		%br/
		=f.label "Password?"
		=f.password_field :password
	.actions
		= f.submit
