%header
	%span.logo= image_tag("FRlogo.png", alt: "Front Rush")
	%span.title FOOSBALL
	%span.quote "The greatest show on Earth..."
%body
	#container_left
		%h1.players Player Rankings
		%ul.players_container
			%li.player_row.header
				%span.rank.header Rank
				%span.name.header Name
				%span.games_played.header GP
				%span.record.header Record
				%span.on_offense.header On Offense
				%span.on_defense.header On Defense
				%span.points_for.header PF
				%span.points_against.header PA
				%span.ELO.header Rating
			-Player.all.each do |p|
				%li.player_row{:id => p.id}
					%span.rank 1
					%span.name=p.name
					%span.games_played="#{p.wins + p.losses}"
					%span.record="#{p.wins} - #{p.losses}"
					%span.on_offense="#{p.wins_on_offense} - #{p.losses_on_offense}"
					%span.on_defense="#{p.wins_on_defense} - #{p.losses_on_defense}"
					%span.points_for="#{p.points_for}"
					%span.points_against="#{p.points_against}"
					%span.ELO=number_with_precision(p.ELO_rating, :precision => 2)
	%p.add_new_stuff
		%span.add_player=link_to "* Don't see yourself listed? Add yourself!", new_player_path
		%span.add_new_game=link_to "Add a new game here!", new_game_path
		%br/
	%br/	
	%p.last_game
		-$last_game = Game.last
		%span.text="The previous game between #{$last_game.blue_offense}/#{$last_game.blue_defense} and #{$last_game.red_offense}/#{$last_game.red_defense} had an ELO swing of #{number_with_precision($last_game.ELO_swing, :precision => 4)}."
