%header
	%span.logo= image_tag("FRlogo.png", alt: "Front Rush")
	%span.foosball=image_tag("Foosball.png", :size => "48x36")
	%span.foosball_text Foosball
	%span.TT=link_to image_tag("TT.png", :size => "48x36"), "#"
	%span.TT_text Table Tennis (Coming Soon!)
%body
	.modal
	#centered_form.new_game
		%h1 Create a new Game!
		=form_for(@game) do |f|
			.field
				= f.label "Winning Score: "
				= f.number_field :winning_score
				%br/
				= f.label "Losing Score: "
				= f.number_field :losing_score
				%br/
				= f.label "Blue Offensive Player: "
				= f.select(:blue_offense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
				%br/
				= f.label "Blue Defensive Player: "
				= f.select(:blue_defense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
				%br/
				= f.label "Red Offensive Player: "
				= f.select(:red_offense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
				%br/
				= f.label "Red Defensive Player: "
				= f.select(:red_defense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
				%br/
				=f.label "Winner? "
				= f.select :winner, ["Blue Team", "Red Team"]
				%br/
			%br/
			.actions
				= f.submit
	#centered_form.new_player
		%h1 Create a new player!
		= form_for(@player) do |f|
			= f.hidden_field :wins, :value => 0
			= f.hidden_field :losses, :value => 0
			= f.hidden_field :wins_on_offense, :value => 0
			= f.hidden_field :losses_on_offense, :value => 0
			= f.hidden_field :wins_on_defense, :value => 0
			= f.hidden_field :losses_on_defense, :value => 0
			= f.hidden_field :elo_rating, :value => 1500
			= f.hidden_field :points_for, :value => 0
			= f.hidden_field :points_against, :value => 0
			= f.hidden_field :position, :value => 1
			= f.hidden_field :win_streak, :value => 0
			= f.hidden_field :loss_streak, :value => 0
			= f.hidden_field :shutout_for, :value => 0
			= f.hidden_field :overall_elo, :value => 0
			= f.hidden_field :shutout_against, :value => 0

			.field
				= f.label "Name"
				= f.text_field :name
			%br/
			.actions
				= f.submit
	#centered_form.random_game
		%h1 Type in 4 players and a random matchup will be displayed
		%br/
		%form{:autocomplete => "on", :onsubmit => "randomPlayer()"}
			Player 1:
			%input#player1{:type => "text"}/
			%br/
			Player 2:
			%input#player2{:type => "text"}/
			%br/
			Player 3:
			%input#player3{:type => "text"}/
			%br/
			Player 4:
			%input#player4{:type => "text"}/
			%br/
			/ Player 5: <input type="text" id= "player5"><br>
			/ Player 6: <input type="text" id= "player6"><br>
			%br/
			%br/
			%input#assignTeam{:type => "checkbox", :value => "Yes"}/
			Check to also Assign Offense & Defense
			%br/
			%br/
			%br/
			%input{:onclick => "randomPlayer()", :type => "button", :value => "Roll the dice!"}/
		%br/
		%p
			Red Team:
			%span#redTeam
			%span#rankinG1
		%p
			Blue Team:
			%span#blueTeam
			%span#rankinG222
	#container_left
		%h1.players
			%p.player_text Player Rankings
		%ul.players_container
			%li.player_row.header
				%span.rank.header Rank
				%span.name.header Name
				%span.games_played.header GP
				%span.ones_record.header 1v1 Record
				%span.twos_record.header 2v2 Record
				%span.on_offense.header On Offense
				%span.on_defense.header On Defense
				%span.points_for.header PF
				%span.points_against.header PA
				%span.points_diff.header +/-
				%span.ELO.season.header Fall 2013
				%span.ELO.header Overall
			-Player.order("position ASC").each do |p|
				-$ones_wins = p.wins - p.wins_on_offense - p.wins_on_defense
				-$ones_losses = p.losses - p.losses_on_offense - p.losses_on_defense
				%li.player_row{:id => p.id}
					%span.rank=p.position
					-$shutout_for_rating = 0
					-$shutout_against_rating = 0
					-$total = p.wins + p.losses
					-if($total > 0)
						-if(p.shutout_for > 0)
							-$shutout_for_rating = p.shutout_for.to_f/$total
						-if(p.shutout_against > 0)
							-$shutout_against_rating = p.shutout_against.to_f/$total
					-logger.debug "Name: #{p.name}"
					-logger.debug "Shut out for rating: #{$shutout_for_rating}"
					-logger.debug "Shut out against rating: #{$shutout_against_rating}"
					-logger.debug "Shut out for: #{p.shutout_for}"
					-logger.debug "Shut out against: #{p.shutout_against}"
					-logger.debug "Win Streak: #{p.win_streak}"
					-logger.debug "Loss Streak: #{p.loss_streak}"
					-logger.debug "Total: #{$total}"
					-if $shutout_for_rating > 0.03
						%span.name=image_tag('crown.gif', :size => "20x20", :alt => "master") + "  " + p.name
					-elsif $total == 0
						%span.name=image_tag('baby.gif', :size => "20x20", :alt => "up and comer") + "  " + p.name
					-elsif p.shutout_for > 0
						%span.name=image_tag('sword.png', :size => "20x20", :alt => "up and comer") + "  " + p.name
					-elsif $shutout_against_rating > 0.015 && $total > 5
						%span.name=image_tag('skull.png', :size => "20x20", :alt => "scrub") + "  " + p.name
					-else
						%span.name=p.name
					%span.games_played="#{p.wins + p.losses}"
					%span.ones_record="#{$ones_wins} - #{$ones_losses}"
					%span.twos_record="#{p.wins - $ones_wins} - #{p.losses - $ones_losses}"
					%span.on_offense="#{p.wins_on_offense} - #{p.losses_on_offense}"
					%span.on_defense="#{p.wins_on_defense} - #{p.losses_on_defense}"
					-$points_diff = p.points_for - p.points_against
					%span.points_for="#{p.points_for}"
					%span.points_against="#{p.points_against}"
					-if $points_diff > 0
						%span.points_diff.green="+#{$points_diff}"
					-elsif $points_diff < 0
						%span.points_diff.red="#{$points_diff}"
					-else
						%span.points_diff="#{$points_diff}"
					%span.season_elo=number_with_precision(p.elo_rating, :precision => 2)
					%span.ELO=number_with_precision(p.overall_elo, :precision => 2)
			%li.player_row.bottom		
				%p.add_new_stuff
					%span.add_player=button_to "Add Player", "#", :remote => true, :method => "get", :class => "standard_button", :id => "new_player_button"
					%span.add_new_game=button_to "Enter Game", "#", :remote => true, :method => "get", :class => "standard_button", :id => "new_game_button"
					%span.random=button_to "Random Game", "#", :remote => true, :method => "get", :class => "standard_button", :id => "random_game_button"
				%p.last_game
					-$last_game = Game.last
					-unless $last_game == nil
						-if $last_game.winner == "Red Team" and $last_game.red_offense != $last_game.red_defense
							%span.text="*#{$last_game.red_offense} and #{$last_game.red_defense}'s #{$last_game.winning_score} - #{$last_game.losing_score} victory over #{$last_game.blue_offense} and #{$last_game.blue_defense} had an ELO swing of #{number_with_precision($last_game.elo_swing, :precision => 4)}."
						-elsif $last_game.winner == "Blue Team" and $last_game.blue_offense != $last_game.blue_defense
							%span.text="*#{$last_game.blue_offense} and #{$last_game.blue_defense}'s #{$last_game.winning_score} - #{$last_game.losing_score} victory over #{$last_game.red_offense} and #{$last_game.red_defense} had an ELO swing of #{number_with_precision($last_game.elo_swing, :precision => 4)}."
						-elsif $last_game.winner == "Red Team" and $last_game.red_offense == $last_game.red_defense
							%span.text="*#{$last_game.red_offense}'s #{$last_game.winning_score} - #{$last_game.losing_score} victory over #{$last_game.blue_offense} in 1v1 had an ELO swing of #{number_with_precision($last_game.elo_swing, :precision => 4)}."
						-else
							%span.text="*#{$last_game.blue_offense}'s #{$last_game.winning_score} - #{$last_game.losing_score} victory over #{$last_game.red_offense} in 1v1 had an ELO swing of #{number_with_precision($last_game.elo_swing, :precision => 4)}."
						%span.text=link_to "Delete this game", game_delete_last_game_path($last_game.id), :method => "put", :confirm => "Are you sure you want to do that?"
				%br/
				%p.skull=image_tag('skull.png', :size => "20x20", :alt => "shut out") + "  " + "indicates a shut out occurred this season"
			%li.footer
