%header
	%span.logo= image_tag("FRlogo.png", alt: "Front Rush")
	%span.foosball=image_tag("Foosball.png", :size => "48x36")
	%span.foosball_text Foosball
	%span.TT=link_to image_tag("TT.png", :size => "48x36"), "#"
	%span.TT_text Table Tennis (Coming Soon!)
%body
	-$current_season = Season.where(:active => 1).first
	-$rank = 1
	.modal
	#centered_form.new_game
		%h1 Create a new Game!
		=form_for(@game) do |f|
			.field
				= f.label "Winning Score: "
				= f.number_field :winning_score
				%br/
				= f.label "Losing Score: "
				= f.number_field :losing_score
				%br/
				= f.label "Blue Offensive Player: "
				= f.select(:blue_offense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
				%br/
				= f.label "Blue Defensive Player: "
				= f.select(:blue_defense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
				%br/
				= f.label "Red Offensive Player: "
				= f.select(:red_offense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
				%br/
				= f.label "Red Defensive Player: "
				= f.select(:red_defense, Player.all.collect {|p| [ p.name ] }, {:include_blank => 'None'})
				%br/
				=f.label "Winner? "
				= f.select :winner, ["Blue Team", "Red Team"]
				%br/
			%br/
			.actions
				= f.submit
	#centered_form.new_player
		%h1 Create a new player!
		= form_for(@player) do |f|
			= f.hidden_field :wins, :value => 0
			= f.hidden_field :losses, :value => 0
			= f.hidden_field :wins_on_offense, :value => 0
			= f.hidden_field :losses_on_offense, :value => 0
			= f.hidden_field :wins_on_defense, :value => 0
			= f.hidden_field :losses_on_defense, :value => 0
			= f.hidden_field :elo_rating, :value => 1500
			= f.hidden_field :overall_elo, :value => 1500
			= f.hidden_field :active, :value => 1
			= f.hidden_field :points_for, :value => 0
			= f.hidden_field :points_against, :value => 0
			= f.hidden_field :position, :value => 1

			.field
				= f.label "Name"
				= f.text_field :name
			%br/
			.actions
				= f.submit
	#centered_form.random_game
		%h1 Type in 4 players and a random matchup will be displayed
		%br/
		%form{:autocomplete => "on", :onsubmit => "randomPlayer()"}
			Player 1:
			%input#player1{:type => "text"}/
			%br/
			Player 2:
			%input#player2{:type => "text"}/
			%br/
			Player 3:
			%input#player3{:type => "text"}/
			%br/
			Player 4:
			%input#player4{:type => "text"}/
			%br/
			/ Player 5: <input type="text" id= "player5"><br>
			/ Player 6: <input type="text" id= "player6"><br>
			%br/
			%br/
			%input#assignTeam{:type => "checkbox", :value => "Yes"}/
			Check to also Assign Offense & Defense
			%br/
			%br/
			%br/
			%input{:onclick => "randomPlayer()", :type => "button", :value => "Roll the dice!"}/
		%br/
		%p
			Red Team:
			%span#redTeam
			%span#rankinG1
		%p
			Blue Team:
			%span#blueTeam
			%span#rankinG222
	#centered_form.season
		%h1 Start a new season
		%br/
		=form_for(@season) do |s|
			.field
				= s.label "Season name: "
				= s.text_field :name
				%br/
				.actions
					=s.submit
	-Player.where(:active => 1).each do |p|
		#centered_form.statistics{:player_id => p.id}
			.close="X"
			%h1.center="#{p.name}'s Stats"
			%table.misc_stats
				%tr
					%td="Biggest Win Streak"
					%td
				%tr
					%td="Biggest Lose Streak"
					%td
				%tr
					%td="Current Streak"
					%td
				%tr
					%td="Shut Outs For"
					%td
				%tr
					%td="Shut Outs Against"
					%td
				%tr
					%td="Most Common Partner"
					%td
			%table
				%tr.elo.header
					%td.season.header="Season"
					%td.elo.header="ELO"
				-Season.all.order("id ASC").each do |s|
					-$se = SeasonalELO.where(:player_id => p.id, :season => s.id).first
					%tr.elo{:season_id => s.id}
						%td.season="#{s.name}"
						-if $se != nil
							%td.elo=number_with_precision($se.elo, :precision => 2)
						-else
							%td.elo="--NO DATA--"
	#container_left
		%h1.players
			%p.player_text Player Rankings
		%div.players_container
			%table
				%tr.player_row.header
					%td.rank.header Rank
					%td.name.header Name
					%td.games_played.header GP
					%td.ones_record.header 1v1 Record
					%td.twos_record.header 2v2 Record
					%td.on_offense.header On Offense
					%td.on_defense.header On Defense
					%td.points_for.header PF
					%td.points_against.header PA
					%td.points_diff.header +/-
					%td.ELO.season.header #{$current_season.name}
					%td.ELO.header Overall
				-Player.order("overall_elo DESC").each do |p|
					-$ones_wins = p.wins - p.wins_on_offense - p.wins_on_defense
					-$ones_losses = p.losses - p.losses_on_offense - p.losses_on_defense
					%tr.player_row{:id => p.id}
						%td.rank=$rank
						-$rank = $rank + 1
						%td.name=p.name
						%td.games_played="#{p.wins + p.losses}"
						%td.ones_record="#{$ones_wins} - #{$ones_losses}"
						%td.twos_record="#{p.wins - $ones_wins} - #{p.losses - $ones_losses}"
						%td.on_offense="#{p.wins_on_offense} - #{p.losses_on_offense}"
						%td.on_defense="#{p.wins_on_defense} - #{p.losses_on_defense}"
						-$points_diff = p.points_for - p.points_against
						%td.points_for="#{p.points_for}"
						%td.points_against="#{p.points_against}"
						-if $points_diff > 0
							%td.points_diff.green="+#{$points_diff}"
						-elsif $points_diff < 0
							%td.points_diff.red="#{$points_diff}"
						-else
							%td.points_diff="#{$points_diff}"
						-if SeasonalELO.where(:season => $current_season.id, :player_id => p.id).first != nil
							%td.season_elo=number_with_precision(SeasonalELO.where(:season => $current_season.id, :player_id => p.id).first.elo, :precision => 2)
						-else
							%td.season_elo=1500.00
						%td.ELO=number_with_precision(p.overall_elo, :precision => 2)
		%div.player_row.bottom		
			%p.add_new_stuff
				%span.add_player=button_to "Add Player", "#", :remote => true, :method => "get", :class => "standard_button", :id => "new_player_button"
				%span.add_new_game=button_to "Enter Game", "#", :remote => true, :method => "get", :class => "standard_button", :id => "new_game_button"
				%span.random=button_to "Random Game", "#", :remote => true, :method => "get", :class => "standard_button", :id => "random_game_button"
				%span.season=button_to "Start New Season", "#", :remote => true, :method => "get", :class => "standard_button", :id=> "new_season_button"
			%p.last_game
				-$last_game = Game.last
				-unless $last_game == nil
					-if $last_game.winner == "Red Team" and $last_game.red_offense != $last_game.red_defense
						%span.text="*#{$last_game.red_offense} and #{$last_game.red_defense}'s #{$last_game.winning_score} - #{$last_game.losing_score} victory over #{$last_game.blue_offense} and #{$last_game.blue_defense} had an ELO swing of #{number_with_precision($last_game.elo_swing, :precision => 4)}."
					-elsif $last_game.winner == "Blue Team" and $last_game.blue_offense != $last_game.blue_defense
						%span.text="*#{$last_game.blue_offense} and #{$last_game.blue_defense}'s #{$last_game.winning_score} - #{$last_game.losing_score} victory over #{$last_game.red_offense} and #{$last_game.red_defense} had an ELO swing of #{number_with_precision($last_game.elo_swing, :precision => 4)}."
					-elsif $last_game.winner == "Red Team" and $last_game.red_offense == $last_game.red_defense
						%span.text="*#{$last_game.red_offense}'s #{$last_game.winning_score} - #{$last_game.losing_score} victory over #{$last_game.blue_offense} in 1v1 had an ELO swing of #{number_with_precision($last_game.elo_swing, :precision => 4)}."
					-else
						%span.text="*#{$last_game.blue_offense}'s #{$last_game.winning_score} - #{$last_game.losing_score} victory over #{$last_game.red_offense} in 1v1 had an ELO swing of #{number_with_precision($last_game.elo_swing, :precision => 4)}."
					%span.text=link_to "Delete this game", game_delete_last_game_path($last_game.id), :method => "put", :confirm => "Are you sure you want to do that?"
			%br/